* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #a8dadc, #003049);
  font-family: Raleway;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  margin-top: -200px;
}
.image {
  width: 900px;
  height: 500px;
  display: none;
  border-radius: 10px;
  box-shadow: 20px 20px 20px;
  margin-top: 50px;
}
h1 {
  color: #fff;

  text-align: center;
  font-size: 4rem;
  margin-top: 50px;
}
.lider {
  height: 100%;
}
.bubbles {
  display: flex;
  column-gap: 10px;
  cursor: pointer;
  position: absolute;
  top: 40rem;
}
.bubble {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.active {
  display: block;
  animation-name: fade;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.fas {
  font-size: 40px;
  position: absolute;
  width: 17.5px;

  cursor: pointer;
  color: #003049;
}
.fa-arrow-left {
  position: absolute;
  left: 250px;
  top: 400px;
}
.fa-arrow-right {
  position: absolute;
  right: 260px;
  top: 400px;
}
